html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

html {
    background-image: url("./assets/Helm\ -\ Blurred.png");
    background-position: center;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}
